body {
    background: teal;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
    margin:0;
    /* height: 100%; */
}

.container {
    background: black;
    background-repeat: no-repeat;
    width: 100%;
}

p {
    background: burlywood;
    margin-top: 3%;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    color: #ffffff;
    width: 100%;
    margin-bottom: 0;

    
}